/* ===== Services ===== */
.services-section {
  padding: 0 clamp(0.5rem, 1vw, 1.5rem);
  width: 100%;
}

.services {
  max-width: min(96rem, 100vw);
  margin: 0 auto;
  padding: clamp(1rem, 5vw, 4rem);
}

/* Header */
.services__header {
  margin-bottom: clamp(3rem, 5.40vw, 5rem);
}

.services__header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(2rem, 4vw, 5rem);
  flex-wrap: wrap;
}

.services__title {
  flex: 1 1 35rem;
  max-width: 45rem;
  margin-top: 0;
}

.services__header-right {
  flex: 1 1 25rem;
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.services__desc {
  font-size: var(--fs-base);
  color: var(--color-text-light);
  line-height: 1.6;
}

/* Grid */
.services__grid {
  display: flex;
  flex-wrap: nowrap;
  gap: clamp(1rem, 1.8vw, 2rem);
  /* overflow-x: auto; */
  padding-bottom: 2rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.services__grid::-webkit-scrollbar {
  display: none;
}

.services__card {
  flex: 1 0 15rem;
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 1vw, 1.25rem);
}

.services__card-image-wrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: clamp(1rem, 2.30vw, 2rem);
}

.services__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--transition-base);
}

@media (hover: hover) {
  .services__card:hover .services__card-image {
    transform: scale(1.05);
  }
}

.services__card-title {
  font-size: var(--fs-secondary);
  font-weight: 600;
  color: var(--color-dark);
  letter-spacing: -0.01em;
}

.services__card-desc {
  font-size: var(--fs-base);
  color: var(--color-text-light);
  line-height: 1.5;
}

@media (max-width: 85rem) {
  .services-section {
    padding-top: 3rem;
  }
  
  .services__grid {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .services__card {
    flex: 1 1 calc(50% - 1rem);
    min-width: 18rem;
  }
}

@media (max-width: 48rem) {
  .services__card {
    flex: 1 1 100%;
  }
}
